{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "Action": false,
    "__DEV__": false,
    "__PROD__": false,
    "__TEST__": false,
    "__COVERAGE__": false,
    "__BASENAME__": false
  },
  "rules": {
    "generator-star-spacing": 0,
    "babel/generator-star-spacing": 1,
    "react/prop-types": 1,
    "jsx-quotes": [
      2,
      "prefer-single"
    ],
    "semi": [
      2,
      "always"
    ],
    "max-len": [
      2,
      120,
      2
    ],
    "operator-linebreak": [
      "error",
      "before"
    ],
    "no-multiple-empty-lines": 0,
    "space-before-function-paren": 0,
    "padded-blocks": 1,
    "curly": 2,
    "camelcase": 2
  }
}
